pandas>=2.2.3
numpy>=2.2.3
matplotlib>=3.10.1
seaborn>=0.13.2
scipy>=1.15.1
statsmodels>=0.14.3
scikit-learn>=1.6.0
scikit-opt>=0.6.6
scikit-optimize>=0.10.2
tabulate>=0.8.10
wordcloud>=1.9.3
pyomo>=6.9.2
xgboost>=3.0.0
tqdm>=4.67.1
optuna>=4.0.0